google-genai
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
torch==2.5.1+cu118 --index-url https://download.pytorch.org/whl/cu118
torchaudio==2.5.1+cu118 --index-url https://download.pytorch.org/whl/cu118
torchvision==0.20.1+cu118 --index-url https://download.pytorch.org/whl/cu118
typing-extensions==4.12.2
faster-whisper==0.10.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cudnn-cu11==8.6.0.163
dateparser==1.2.0
uvicorn==0.27.1
fastapi==0.109.2
python-multipart==0.0.9
python-dotenv==1.0.1
requests==2.31.0
ffmpeg-python==0.2.0
python-dateutil==2.8.2
itsdangerous==2.1.2
sqlalchemy==2.0.27
asyncpg==0.29.0
